@import '../../styles/main.scss';

.hero {
  max-width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  object-fit: contain;
  border-radius: 2rem;
  margin: 2rem;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: $secondary-cl;
  }
  &__inputs {
    display: none;
    @media only screen and (min-width: $tablet-breakpoint) {
      max-width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      padding: 1.5rem 1rem 1rem 1rem;
      background-color: $secondary-cl;
      border: 1px solid $secondary-cl;
      border-radius: 2rem;
    }
    input {
      font-size: inherit;
      background-color: transparent;
      padding: 0.5em;
    }
  }
  &__input {
    max-width: 20%;
    border-right: 1px solid grey;
    margin-right: 0.5rem;
  }
  &__input-text {
    padding: 0 0.5em;
  }
  &__inputs-submit {
    margin-left: 4%;
  }
  &__search {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    @media only screen and (min-width: $tablet-breakpoint) {
      display: none;
    }
  }
  &__search-input {
    width: 70%;
    text-align: center;
    padding: 1em;
  }
}
