//Breakpoints
$phone-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

//Colors
$primary-cl: #006666;
$secondary-cl: #fdfdfd;
$accents-cl: rgb(229, 228, 228);

//Font sizes
/* @link https://utopia.fyi/type/calculator?c=320,16,1.618,1140,32,1.618,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

$step--2: clamp(0.9rem, calc(0.5rem + 0.75vw), 1rem);
$step--1: clamp(1.12rem, calc(0.38rem + 1.21vw), 0.62rem);
$step-0: clamp(1rem, calc(0.61rem + 1.95vw), 2rem);
$step-1: clamp(1.62rem, calc(0.99rem + 3.16vw), 3.24rem);
$step-2: clamp(2.62rem, calc(1.6rem + 5.11vw), 5.24rem);
$step-3: clamp(4.24rem, calc(2.58rem + 8.27vw), 8.47rem);
$step-4: clamp(6.85rem, calc(4.18rem + 13.37vw), 13.71rem);
$step-5: clamp(11.09rem, calc(6.76rem + 21.64vw), 22.18rem);
