@import '../../styles/main.scss';

.cards {
  max-width: 100%;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(25rem, max-content)
  );
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.cards > * {
  margin: 0 auto;
}
