@import '../../styles/main.scss';

.card {
  width: 100%;
  padding: 1rem;
  border: 1px solid $accents-cl;
  border-radius: 1rem;
  @media only screen and (min-width: $tablet-breakpoint) {
    width: 30rem;
  }
  &__img {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    border-radius: 1rem;
  }
  &__img-text {
    background-color: $secondary-cl;
    color: black;
    padding: 0.3rem;
    position: absolute;
    margin: 1rem;
    border-radius: 0.5rem;
    font-weight: 800;
  }
  &__body {
    margin-left: 0.5rem;
    padding: 0.5rem 0;
  }
  &__title {
    margin: 0.2rem 0;
  }
  &__desc {
    margin-bottom: 0.5rem;
  }
  &__info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: rgb(131, 130, 130);
    margin-bottom: 0.5rem;
  }
}
