@import '../../styles/main.scss';

.contact {
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__info {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    gap: 2rem;
    flex-wrap: wrap;
    @media only screen and (min-width: $tablet-breakpoint) {
      align-items: center;
      justify-content: center;
      gap: 10rem;
    }
  }
  &__info-items {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid $accents-cl;
    @media only screen and (min-width: $tablet-breakpoint) {
      width: 25rem;
      height: fit-content;
    }
  }
  &__info-item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    margin: 5rem 5rem 0 5rem;
  }
  &__input {
    border: 1px solid $accents-cl;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0.5rem;
    padding: 0.5em;
  }
  &__textarea {
    border: 1px solid $accents-cl;
    border-radius: 0.5rem;
    margin: 0.5rem 0 1rem 0;
  }
  &__button {
    width: 10rem;
    align-self: center;
  }
}
