@import '../../styles/main.scss';

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  &__menu {
    margin-right: 0.5rem;
  }
  &__links {
    display: none;
    @media only screen and (min-width: $tablet-breakpoint) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;
    }
  }
  &__search {
    display: none;
    @media only screen and (min-width: $tablet-breakpoint) {
      margin-right: 1rem;
    }
  }
  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }
}
