@import '../../styles/main.scss';

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: $primary-cl;
  color: $secondary-cl;
  height: 5rem;
  margin-top: 5rem;
}
