@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

$font-stack: 'Montserrat', sans-serif;

*,
body {
  font-family: $font-stack;
}

.title {
  font-weight: 700;
  line-height: 1.2em;
  &--lg {
    font-size: $step-2;
  }
  &--md {
    font-size: $step-1;
  }
  &--sm {
    font-size: $step-0;
  }
}

.text {
  font-weight: 500;
  line-height: 1.2em;
  &--lg {
    font-size: $step-0;
  }
  &--md {
    font-size: $step--1;
  }
  &--sm {
    font-size: $step--2;
  }
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.letterSpacing {
  letter-spacing: 2px;
}

.bold {
  font-weight: 700;
}

.extraBold {
  font-weight: 900;
}

.paddingBottom {
  padding-bottom: 0.2rem;
}
